/*Cabecalho do Site*/

header {
    background: linear-gradient(45deg, #007bff, #00d4ff);
    color: white;
    padding: 60px 0;
    text-align: center;
}
header h1 {
    font-size:  2.5rem;
    font-weight: bold;
}
header p {
    font-size: 1.2rem;
    margin: 20px 0;
}
.btn-cta {
    font-size: 1.1rem;
    padding: 10px 30px;
    transition: transform 0.3s ease;
}
.btn-cta:hover {
    transform: scale(1.05);
}
/*seção de serviço*/

.services-section {
    padding: 40px 0;
    text-align: center;
}
.service-card {
    background: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
/*Seção do Call Action*/

.cta-section {
    background-color:  #007bff;
    color: white;
    padding: 40px 0;
    text-align: center;
}
.cta-section .btn {
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}
.cta-section .btn:hover {
    transform: scale(1.05);
}
/*Rodapé do Site*/

footer{
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
footer a {
    color: #007bff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1rem;
}
footer a :hover {
    text-decoration: underline;
}
.social-icons img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
}


